In [1]:
def WageGrowthTracker() -> str:
    """
    Returns a link to solutions on GitHub.
    """
    return "https://www.atlantafed.org/chcs/wage-growth-tracker"

print(WageGrowthTracker())

https://www.atlantafed.org/chcs/wage-growth-tracker

In [2]:
import requests
import pandas as pd

# Download and save the Excel file
url = 'https://www.atlantafed.org/-/media/documents/datafiles/chcs/wage-growth-tracker/wage-growth-data.xlsx'
with open('wage_growth_data.xlsx', 'wb') as file:
    file.write(requests.get(url).content)

# List of sheet names on Wage Growth excel sheet
sheet_names = [
    'Education', 'Age', 'Sex', 'Occupation', 'Industry', 'Census Divisions',
    'Full-Time or Part-Time', 'Job Switcher', 'MSA or non-MSA', 
    'Average Wage Quartile', 'Paid Hourly', 'Overall 12ma', 'data_overall'
]

# Function to read sheets with different skiprows parameters
#skip first row for data_overall tab, skip 2 rows on all other tabs
def read_sheet(sheet):
    skiprows = 1 if sheet == 'data_overall' else 2
    return pd.read_excel('wage_growth_data.xlsx', sheet_name=sheet, skiprows=skiprows)

# Merge sheets
merged_df = pd.concat([read_sheet(sheet) for sheet in sheet_names], axis=1)

# Save to a CSV file
merged_df.to_csv('wageGrowth.csv', index=False)

In [3]:
# Display the Wage Growth Data Set
merged_df = pd.read_csv('wageGrowth.csv')

merged_df.head()

,Unnamed: 0,High school of less,Associates degree,Bachelors degree or higher,Overall,Unnamed: 0.1,16-24,25-54,55+,Overall.1,...,Male.1,Job Stayer.1,Job Switcher.1,Paid Hourly.1,Overall: Weighted.1,Overall: Weighted 97.1,Overall: Weekly Basis,Overall: 25/20 trimmed mean,Lower 1/2 of wage distn,Upper 1/2 of wage distn
0,1997-01-01,.,.,.,.,1997-01-01,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
1,1997-02-01,.,.,.,.,1997-02-01,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
2,1997-03-01,.,.,.,.,1997-03-01,.,.,.,.,...,4.4,4.1,5.2,4.2,4.9,4.9,4.8,4.5,4.8,4.2
3,1997-04-01,.,.,.,.,1997-04-01,.,.,.,.,...,4.6,4.1,5.4,4.3,5,5,4.9,4.5,4.9,4.2
4,1997-05-01,.,.,.,.,1997-05-01,.,.,.,.,...,4.5,4.1,5.4,4.1,4.9,5,4.8,4.4,5,4.1

In [4]:
# This dataset needs to be reformatted so it is not wide to work with the merged data below

#import requests
# import pandas as pd
# from bs4 import BeautifulSoup

# # URL of the webpage
# req_obj = requests.get(
#     'https://inflationdata.com/Inflation/Consumer_Price_Index/HistoricalCPI.aspx?reloaded=true#Table')

# soup = BeautifulSoup(response.content, 'html.parser')

# tables = soup.find_all('table')
# table = tables[0]

# # Read the table into a pandas DataFrame
# df = pd.read_html(str(table))[0]

# # Reverse the order of the rows
# df = df.iloc[::-1].reset_index(drop=True)

# df.to_csv('CPI.csv', index=False)

In [5]:
#THIS DATA SET DOES NOT HAVE MONTHLY DATA ONLY ANNUAL 
# url = "https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=USACPIBLS_FPCPITOTLZGUSA,CPIAUCSL&scale=left,left&cosd=1950-01-01,1948-01-01&coed=2022-01-01,2023-01-01&line_color=%230000ff,%23ff0000&link_values=false,false&line_style=solid,solid&mark_type=none,none&mw=3,3&lw=5,2&ost=-99999,-99999&oet=99999,99999&mma=0,0&fml=b,a&fq=Annual,Annual&fam=avg,avg&fgst=lin,lin&fgsnd=2012-01-01,2012-01-01&line_index=1,2&transformation=pc1_lin,pc1&vintage_date=2024-05-20_2024-05-20,2024-05-20&revision_date=2024-05-20_2024-05-20,2024-05-20&nd=1950-01-01_1960-01-01,1947-01-01"

# df = pd.read_csv(url)

# #Rename the second column to be more clear
# df.columns.values[1] = 'allConsumerInflation'
# df.columns.values[2] = 'UrbanConsumerInflation'

# df.to_csv('CPI.csv', index=False)

In [6]:
# # Display the CPI data sheet
# CPI_df = pd.read_csv('CPI.csv')

# CPI_df.head()

In [7]:
import pandas as pd

# URL of the dataset
url = "https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1138&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=IR3TIB01USM156N&scale=left&cosd=1964-06-01&coed=2024-04-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2024-05-20&revision_date=2024-05-20&nd=1964-06-01"

df = pd.read_csv(url)

#Rename the second column to be more clear
df.columns.values[1] = '3MonthInterestRate'

df.to_csv('3-Month Interest Rates', index=False)

In [11]:
# Display the 3 Month Interest Rates data sheet

InterestRates = pd.read_csv('3-Month Interest Rates')

InterestRates.head()

         DATE 3MonthInterestRate
0  1964-06-01               3.86
1  1964-07-01               3.87
2  1964-08-01               3.85
3  1964-09-01               3.87
4  1964-10-01               3.94

In [9]:
import pandas as pd

# Load and filter the large DataFrame
merged_df = pd.read_csv('wageGrowth.csv', parse_dates=[0])
filtered_df = merged_df[merged_df.iloc[:, 0] > '1997-12-01']
filtered_df.columns = ['Date'] + list(filtered_df.columns[1:])  # Rename the first column

# Load and filter the 3-month interest rates DataFrame
InterestRates = pd.read_csv('3-Month Interest Rates', parse_dates=[0])
filtered_InterestRates = InterestRates[InterestRates.iloc[:, 0] > '1997-12-01']
filtered_InterestRates.columns = ['Date'] + list(filtered_InterestRates.columns[1:])  # Rename the first column

# Ensure that both 'Date' columns are in the datetime64[ns] format
filtered_df['Date'] = pd.to_datetime(filtered_df['Date'])
filtered_InterestRates['Date'] = pd.to_datetime(filtered_InterestRates['Date'])

# Merge the two filtered DataFrames on the "Date" column
merged_final_df = pd.merge(filtered_df, filtered_InterestRates, on='Date')

# Save the merged DataFrame to a new CSV file
merged_final_df.to_csv('merged_filtered_data.csv', index=False)

/tmp/ipykernel_2189/600145894.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Date'] = pd.to_datetime(filtered_df['Date'])
/tmp/ipykernel_2189/600145894.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_InterestRates['Date'] = pd.to_datetime(filtered_InterestRates['Date'])

In [10]:
# Display the Ultimate Merged data sheet

finalData = pd.read_csv('merged_filtered_data.csv')

finalData.head()

,Date,High school of less,Associates degree,Bachelors degree or higher,Overall,Unnamed: 0.1,16-24,25-54,55+,Overall.1,...,Job Stayer.1,Job Switcher.1,Paid Hourly.1,Overall: Weighted.1,Overall: Weighted 97.1,Overall: Weekly Basis,Overall: 25/20 trimmed mean,Lower 1/2 of wage distn,Upper 1/2 of wage distn,3MonthInterestRate
0,1998-01-01,4.6,4.5,5.1,4.7,1998-01-01,9.9,4.6,2.9,4.7,...,4.3,6.1,4.7,5.1,5.0,5.4,4.7,5.6,4.1,5.54
1,1998-02-01,4.6,4.5,5.1,4.7,1998-02-01,10.1,4.6,3.0,4.7,...,4.3,5.8,4.6,5.0,5.0,5.3,4.7,5.4,4.2,5.54
2,1998-03-01,4.7,4.5,5.1,4.7,1998-03-01,10.1,4.6,2.9,4.7,...,4.3,5.6,4.7,4.9,4.9,4.9,4.5,5.3,4.1,5.58
3,1998-04-01,4.7,4.6,5.1,4.8,1998-04-01,10.1,4.6,3.1,4.8,...,4.6,5.4,4.7,5.2,5.2,5.0,4.7,5.6,4.2,5.58
4,1998-05-01,4.8,4.7,5.3,4.9,1998-05-01,9.9,4.7,3.2,4.9,...,4.9,5.8,4.9,5.4,5.4,5.4,5.0,5.8,4.5,5.59